@font-face {
  font-family: RobotoFlex;
  src: url(./Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf)
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: Pixelify;
  src: url(./Pixelify_Sans/PixelifySans-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}